<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }}!</h1>
  <div>
    <label for="diceSize">Size of Dice: </label>
    <select [(ngModel)]="size_of_dice" (change)="changeSize()">
      <option *ngFor="let option of dice_options">{{ option }}</option>
    </select>
  </div>
  <div>
    <label for="numberOfDice">Number of Dice: </label>
    <input type="text" value="{{number_of_dice}}" [(ngModel)]="number_of_dice" (keyup)="validateNumberOfDice()">
  </div>

  <div>
    <label for="animate">Show Animation?</label>
    <input type="checkbox" [(ngModel)]="animate" value="{{animate}}">
  </div>
  <div>
    <label for="cheat">Enable cheating?</label>
    <input type="checkbox" [(ngModel)]="cheat" value="{{cheat}}" (click)="toggleCheating()">
  </div>
  <div *ngIf="cheat">
    <h3>Cheat! (Loaded dice)</h3>

    <div class="row" *ngFor="let outcome of weights">
      <div class="col-xs-4">

      </div>
      <div class="col-xs-4">
        <label for="outcome">{{ outcome.outcome }} :</label>
        <input type="range" [(ngModel)]="outcome.weight" min="0" max="10" value="{{outcome.weight}}">
      </div>
      <div class="col-xs-4">

      </div>
    </div>
  </div>
  <div>
    <input type="submit" value="Roll" (click)="roll()">
  </div>
  <div *ngFor="let die of dice" class="col-xs-4 dice-outline">
    <h4>{{ die.value }}</h4>
  </div>
</div>
